
<div class="col-md-6 col-xl-12">
  <app-card [title]="'Permission List'" [cardClass]="'recent-candidate-card'" [blockClass]="'p-t-0 p-b-0'">
 

   <div class="table-responsive">
     <table class="table table-hover">
       <thead class="thead-dark">
       <tr>
         <th>#</th>
         <th>Role</th>
         <th>Read</th>
         <th>Write</th>
         <th>Create</th>
         <th>Delete</th>
       </tr>
       </thead>
       <tbody>
       <tr>
         <td>
           <div class="recent-contain">
             <h6>1</h6>
           </div>
         </td>
         <td>
           <i class=" text-c-blue f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600">Admin</p>
         </td>
         <td>
           <i class=" text-c-green f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600"> <ui-switch class="js-small" color="#3498DB" switchColor="#fff" size="small" checked></ui-switch>
           </p>
         </td>
         <td>
          <i class=" text-c-green f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600"> <ui-switch class="js-small" color="#3498DB" switchColor="#fff" size="small" checked></ui-switch>
          </p>
        </td>
        <td>
          <i class=" text-c-green f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600"> <ui-switch class="js-small" color="#3498DB" switchColor="#fff" size="small" checked></ui-switch>
          </p>
        </td>
        <td>
          <i class=" text-c-green f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600"> <ui-switch class="js-small" color="#3498DB" switchColor="#fff" size="small" checked></ui-switch>
          </p>
        </td>
        
       </tr>
  
       <tr>
         <td>
           <div class="recent-contain">
             <h6>2</h6>
           </div>
         </td>
         <td>
           <i class=" text-c-blue f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600">User</p>
         </td>
         <td>
          <i class=" text-c-green f-16"></i>
          <p class="m-l-10 d-inline-block f-w-600"> <ui-switch class="js-small" color="#3498DB" switchColor="#fff" size="small" checked></ui-switch>
          </p>
        </td>
        <td>
         <i class=" text-c-green f-16"></i>
         <p class="m-l-10 d-inline-block f-w-600"> <ui-switch class="js-small" color="#3498DB" switchColor="#fff" size="small" checked></ui-switch>
         </p>
       </td>
       <td>
         <i class=" text-c-green f-16"></i>
         <p class="m-l-10 d-inline-block f-w-600"> <ui-switch class="js-small" color="#3498DB" switchColor="#fff" size="small" checked></ui-switch>
         </p>
       </td>
       <td>
         <i class=" text-c-green f-16"></i>
         <p class="m-l-10 d-inline-block f-w-600"> <ui-switch class="js-small" color="#3498DB" switchColor="#fff" size="small" checked></ui-switch>
         </p>
       </td>
       
       </tr>
      
         
       </tbody>
     </table>
   </div>
 </app-card>
</div>

