<div class="col-md-6 col-xl-12">
  <app-card
    [title]="'Vehicules List'"
    [cardClass]="'recent-candidate-card'"
    [blockClass]="'p-t-0 p-b-0'"
  >
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>Marque</th>
            <th>Type</th>
            <th>Couleur</th>
            <th>Matricule</th>
            <th>Le Certificat D'assurance</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td (click)="openMyModal('effect-15')">1</td>
            <td>
              <a href="javascript:"
                ><img
                  class="image-radius img-50"
                  src="assets/images/avatar-4.jpg"
                  alt=""
              /></a>
            </td>
            <td (click)="openMyModal('effect-15')">
              <p class="m-l-10 d-inline-block f-w-600">Range Rover</p>
            </td>
            <td (click)="openMyModal('effect-15')">
              <p class="m-l-10 d-inline-block f-w-600">2022</p>
            </td>
            <td (click)="openMyModal('effect-15')">
              <p class="f-w-600">rouge</p>
            </td>
            <td (click)="openMyModal('effect-15')">
              <p class="m-l-10 d-inline-block f-w-600">2458742</p>
            </td>
            <td (click)="openMyModal('effect-15')">
              <p class="m-l-10 d-inline-block f-w-600">File</p>
            </td>

            <td>
              <a
                href="javascript:"
                data-toggle="tooltip"
                title="Edit"
                routerLink="/vehicule/edit/1"
                ><i class="icofont icofont-ui-edit text-c-blue f-16"></i>
              </a>
              <a href="javascript:" data-toggle="tooltip" title="Remove"
                ><i
                  class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"
                ></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <a href="javascript:"
                ><img
                  class="image-radius img-50"
                  src="assets/images/avatar-4.jpg"
                  alt=""
              /></a>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Range Rover</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">2022</p>
            </td>
            <td>
              <p class="f-w-600">rouge</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">2458742</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">File</p>
            </td>

            <td>
              <a
                href="javascript:"
                data-toggle="tooltip"
                title="Edit"
                routerLink="/vehicule/edit/1"
                ><i class="icofont icofont-ui-edit text-c-blue f-16"></i>
              </a>
              <a href="javascript:" data-toggle="tooltip" title="Remove"
                ><i
                  class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"
                ></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <a href="javascript:"
                ><img
                  class="image-radius img-50"
                  src="assets/images/avatar-4.jpg"
                  alt=""
              /></a>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Range Rover</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">2022</p>
            </td>
            <td>
              <p class="f-w-600">rouge</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">2458742</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">File</p>
            </td>

            <td>
              <a
                href="javascript:"
                data-toggle="tooltip"
                title="Edit"
                routerLink="/vehicule/edit/1"
                ><i class="icofont icofont-ui-edit text-c-blue f-16"></i>
              </a>
              <a href="javascript:" data-toggle="tooltip" title="Remove"
                ><i
                  class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"
                ></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <a href="javascript:"
                ><img
                  class="image-radius img-50"
                  src="assets/images/avatar-4.jpg"
                  alt=""
              /></a>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Range Rover</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">2022</p>
            </td>
            <td>
              <p class="f-w-600">rouge</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">2458742</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">File</p>
            </td>
            <td>
              <a
                href="javascript:"
                data-toggle="tooltip"
                title="Edit"
                routerLink="/vehicule/edit/1"
                ><i class="icofont icofont-ui-edit text-c-blue f-16"></i>
              </a>
              <a href="javascript:" data-toggle="tooltip" title="Remove"
                ><i
                  class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"
                ></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>

<app-modal-animation [modalID]="'effect-15'" [modalClass]="'md-effect-15'">
  <h3>Vehicules Details</h3>
  <div>
    <div class="text-center">
      <img
        src="/assets/images/rangeRover.jpg"
        alt="err"
        style="width: 200px; height: 200px"
      />
    </div>

    <hr />

    <ul style="overflow: scroll; height: 250px" class="disable-scroll">
      <li><strong>Marque : </strong>Range Rover</li>
      <li><strong> Type : </strong>2022</li>
      <li><strong>Couleur : </strong>Blanc</li>
      <li><strong>Matricule : </strong>2020,Tunisie</li>
      <li><strong>Le Certificat D'assurance : </strong>Download File</li>
    </ul>
    <hr />

    <button (click)="closeMyModal($event)" class="btn btn-primary md-close">
      Close Me!!
    </button>
  </div>
  <button
    (click)="closeMyModal($event)"
    aria-label="Close"
    class="md-close-btn"
  >
    <i class="icofont icofont-ui-close"></i>
  </button>
</app-modal-animation>
