<div class="row">
  <!-- OVERLOADED 'DRAW' METHOD start -->
  <div class="col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <h5>Overloaded 'draw' method</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
      </div>
      <div class="card-block text-center">
        <input type="text" class="dial" value="24" data-width="200" data-height="200" data-fgColor="#1abc9c" data-skin="tron" data-thickness=".1" data-angleOffset="180">
      </div>
    </div>
  </div>
  <!-- OVERLOADED 'DRAW' METHOD Ends -->
  <!-- ANGLE OFFSET AND ARC start -->
  <div class="col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <h5>Angle offset and arc</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
      </div>
      <div class="card-block text-center">
        <input type="text" class="dial" value="35" data-width="200" data-height="200" data-fgColor="#FF9F55" data-angleOffset="-125" data-angleArc="250" data-rotation="anticlockwise">
      </div>
    </div>
  </div>
  <!-- ANGLE OFFSET AND ARC Ends -->
  <!-- 'CURSOR' MODE start -->
  <div class="col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <h5>'Cursor' mode</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
      </div>
      <div class="card-block text-center">
        <input type="text" class="dial" value="70" data-width="200" data-height="200" data-cursor="true" data-thickness=".1" data-fgColor="#9b59b6">
      </div>
    </div>
  </div>
  <!-- 'CURSOR' MODE start Ends -->
  <!-- DISABLE DISPLAY INPUT start -->
  <div class="col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <h5>Disable display input</h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
      </div>
      <div class="card-block text-center">
        <input type="text" class="dial" value="50" data-width="200" data-height="200" data-linecap="round" data-displayInput="false" data-fgColor="#40c4ff">
      </div>
    </div>
  </div>
  <!-- DISABLE DISPLAY INPUT Ends -->
  <!-- DISPLAY PREVIOUS VALUE Starts -->
  <div class="col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <h5>Display previous value </h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
      </div>
      <div class="card-block text-center">
        <input type="text" class="dial" value="32" data-width="200" data-height="200" data-linecap="round" data-displayprevious="true" data-displayInput="true" data-fgColor="#34495e">
      </div>
    </div>
  </div>
  <!-- DISPLAY PREVIOUS VALUE Starts -->
  <!-- DISPLAY READ ONLY Starts -->
  <div class="col-lg-6 col-xl-4">
    <div class="card">
      <div class="card-header">
        <h5>Read only and size </h5>
        <span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
        <div class="card-header-right">                                                             <i class="icofont icofont-spinner-alt-5"></i>                                                         </div>
      </div>
      <div class="card-block text-center">
        <input type="text" class="dial" value="48" data-width="100" data-height="200" data-linecap="round" data-displayprevious="true" data-displayInput="true" data-readonly="true" data-fgColor="#4ECDC4">
      </div>
    </div>
  </div>
  <!-- DISPLAY PREVIOUS VALUE Starts -->
</div>
