<div class="col-md-6 col-xl-12">
  <div class="card widget-card-1">
    <div class="card-block">
      <i class="icofont icofont-pie-chart bg-c-blue card1-icon"></i>
      <span class="text-c-blue f-w-600">
        <h3 class="container d-flex align-items-center justify-content-center">
          Contrat
        </h3>
      </span>
      <h4></h4>
      <div>
        <span class="f-left m-t-10 text-muted">
          <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>Edit
          Contrat
        </span>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12">
  <app-card [title]="'  '">
    <form [formGroup]="form" (ngSubmit)="submitHandler()">
      <h6>Salaire :</h6>
      <br />

      <div class="border-checkbox-section">
        <div class="border-checkbox-group border-checkbox-group-info">
          <input class="border-checkbox" type="checkbox" id="checkbox3" />
          <label class="border-checkbox-label" for="checkbox3">Fixe</label>
        </div>
        <div class="border-checkbox-group border-checkbox-group-primary">
          <input class="border-checkbox" type="checkbox" id="checkbox1" />
          <label class="border-checkbox-label" for="checkbox1"
            >Convention</label
          >
        </div>
        <div class="border-checkbox-group border-checkbox-group-success">
          <input class="border-checkbox" type="checkbox" id="checkbox2" />
          <label class="border-checkbox-label" for="checkbox2"
            >Combinaison</label
          >
        </div>
      </div>

      <br />
      <br />

      <div class="row">
        <div class="col">
          <label for="role" class="form-control-label">Employés</label>
          <select class="form-control" name="employe" id="pays">
            <option selected>Choisir un employer</option>
            <option value="1">Employé 1</option>
            <option value="2">Employé 2</option>
            <option value="3">Employé 3</option>
          </select>
        </div>
        <div class="col">
          <label for="inputAddress">Durée</label>
          <input
            type="text"
            class="form-control"
            id="inputDurée"
            placeholder="2 moins"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="exampleInputSalaire">Salaire</label>
            <input
              formControlName="salaire"
              type="number"
              class="form-control"
              placeholder="Enter Salaire"
            />
            <small
              *ngIf="salaire.invalid && salaire.touched"
              class="text-danger"
              Name
              >Salaire is Required</small
            >
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="exampleInputprixheure">Prix/Heure</label>
            <input
              formControlName="prixheure"
              type="number"
              class="form-control"
              placeholder="Enter PrixHeure"
            />
            <small
              *ngIf="prixheure.invalid && prixheure.touched"
              class="text-danger"
              Name
              >prix heure is Required</small
            >
          </div>
        </div>
      </div>

      <br />
      <h4 class="sub-title">LES PAPIERS NECESSAIRES :</h4>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="formFileSm" class="form-label">Papier</label>
            <input
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
            />
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary btn-outline-primary">
          <i class="icofont icofont-user-alt-7"> </i> Edit Contrat
        </button>
      </div>
    </form>
  </app-card>
</div>
