<div class="row">
  <div class="col-md-6 col-xl-4">
    <div class="card amount-card o-hidden">
      <div class="card-block">
        <h2 class="f-w-400">$23,567</h2>
        <p class="text-muted f-w-400 f-16"><span
          class="text-c-blue">Amount</span> processed</p>
      </div>
      <span id="amount-processed">0,10,22,15,38,42,48,32,30,40,58,70</span>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card amount-card o-hidden">
      <div class="card-block">
        <h2 class="f-w-400">$14,552</h2>
        <p class="text-muted f-w-400 f-16"><span
          class="text-c-pink">Amount</span> spent</p>
      </div>
      <span id="amount-spent">0,15,18,10,30,35,50,35,40,40,58,60</span>
    </div>
  </div>
  <div class="col-md-12 col-xl-4">
    <div class="card amount-card o-hidden">
      <div class="card-block">
        <h2 class="f-w-400">$31,156</h2>
        <p class="text-muted f-w-400 f-16"><span class="text-c-yellow">Profit</span>
          processed</p>
      </div>
      <span id="profit-processed">0,25,8,10,35,30,50,35,40,20,60,30</span>
    </div>
  </div>

  <!-- Profit Visitor Start -->
  <div class="col-md-6 col-xl-4 ">
    <div class="card ">
      <div class="card-block ">
        <h2 class="text-center f-w-600 ">$45,567</h2>
        <p class="text-center text-muted ">Monthly Profit</p>
        <div id="monthlyprofit-1">
          5,10,6,4,8,10,6,5,6,3,5,5,10,6,4,8,10,6,3,5,8,2
        </div>
        <div class="">
          <div class="row ">
            <div class="col-6 text-center ">
              <h6 class="f-20 f-w-600">$6,234</h6>
              <i class="icofont icofont-caret-down text-c-blue f-16"></i>
              <p class="text-muted f-14 d-inline-block m-l-10 m-b-0">Today</p>
            </div>
            <div class="col-6 text-center ">
              <h6 class="f-20 f-w-600">$4,387</h6>
              <i class="icofont icofont-caret-down text-c-blue f-16 "></i>
              <p class="text-muted f-14 d-inline-block m-l-10 m-b-0 ">
                Yesterday</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4 ">
    <div class="card ">
      <div class="card-block ">
        <h2 class="text-center f-w-600 ">2,413</h2>
        <p class="text-center text-muted ">Total Sales</p>
        <div id="monthlyprofit-2">
          5,10,6,4,8,10,6,5,6,3,5,5,10,6,4,8,10,6,3,5,8,2
        </div>
        <div class="">
          <div class="row ">
            <div class="col-6 text-center ">
              <h6 class="f-20 f-w-600">1578</h6>
              <i class="icofont icofont-caret-down text-c-pink f-16 "></i>
              <p class="text-muted f-14 d-inline-block m-l-10 m-b-0 ">
                Today</p>
            </div>
            <div class="col-6 text-center ">
              <h6 class="f-20 f-w-600">1028</h6>
              <i class="icofont icofont-caret-down text-c-pink f-16 "></i>
              <p class="text-muted f-14 d-inline-block m-l-10 m-b-0 ">
                Yesterday</p>
            </div>
          </div>
        </div>
      </div>
    </div>f
  </div>
  <div class="col-md-12 col-xl-4 ">
    <div class="card ">
      <div class="card-block ">
        <h2 class="text-center f-w-600 ">8,421</h2>
        <p class="text-center text-muted ">Unique Visitors</p>
        <div id="monthlyprofit-3">
          5,10,6,4,8,10,6,5,6,3,5,5,10,6,4,8,10,6,3,5,8,2
        </div>
        <div class="">
          <div class="row ">
            <div class="col-6 text-center ">
              <h6 class="f-20 f-w-600">2,849</h6>
              <i class="icofont icofont-caret-down text-c-yellow f-16 "></i>
              <p class="text-muted f-14 d-inline-block m-l-10 m-b-0 ">
                Today</p>
            </div>
            <div class="col-6 text-center ">
              <h6 class="f-20 f-w-600">3,587</h6>
              <i class="icofont icofont-caret-down text-c-yellow f-16 "></i>
              <p class="text-muted f-14 d-inline-block m-l-10 m-b-0 ">
                Yesterday</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Profit Visitor End -->

  <!-- Status Revenue Start -->
  <div class="col-md-12 col-xl-6 ">
    <app-card [title]="'Revenue status'" [cardClass]="'status-revenue-card'">
      <div class="row ">
        <div class="col-sm-6 b-r-default ">
          <div class="row status-rev-chart">
            <div class="col-sm-6 m-b-40">
              <div id="revenue-status-d-graph">5,2,7,4,3,2,5</div>
            </div>
            <div class="col-sm-6 text-right">
              <i class="icofont icofont-caret-down text-muted f-16 "></i>
              <p class="text-muted f-16 d-inline-block f-w-600 m-l-10 m-b-0 ">+1.6%</p>
            </div>
          </div>
          <h2>$27,674</h2>
          <p class="text-muted m-b-0 f-w-600 ">Revenue daily</p>
        </div>
        <div class="col-sm-6 ">
          <div class="row status-rev-chart">
            <div class="col-sm-6 m-b-30">
              <div id="revenue-status-w-graph">5,2,7,4,3,2,5</div>
            </div>
            <div class="col-sm-6 text-right">
              <i class="icofont icofont-caret-down text-muted f-16 "></i>
              <p class="text-muted f-16 d-inline-block f-w-600 m-l-10 m-b-0 ">
                - 0.9%</p>
            </div>
          </div>
          <h2>17,563</h2>
          <p class="text-muted m-b-0 f-w-600 ">Revenue weekly</p>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card card-block text-center">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h5>New users</h5>
        </div>
        <div class="col-md-8">
          <div id="new-user-daily">5,2,7,4,3,2,6,4,8</div>
        </div>
        <div class="col-md-12">
          <div class="text-center">
            <h4 class="f-w-600 f-20 m-t-10 ">4,567 Daily</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card card-block text-center">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <h5>Page views</h5>
        </div>
        <div class="col-md-8">
          <div id="page-views-today">5,2,7,4,3,2,6,4,8</div>
        </div>
        <div class="col-md-12">
          <div class="text-center ">
            <h4 class="f-w-600 f-20 m-t-10">3,562 Today</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Status Revenue End -->

  <!-- Email Sent Start -->
  <div class="col-md-12">
    <app-card [title]="'Email sent'" [cardClass]="'email-sent-card'">
      <div id="email-sent" style="max-width:100%;height:400px;"></div>
    </app-card>
  </div>
  <!-- Email Sent End -->

  <!-- Statestics Start -->
  <div class="col-md-12 col-xl-12">
    <app-card [title]="'Statestics'">
      <div class="row">
        <div class="col-md-8">
          <div class="line-example">
            <div id="statestics-chart" style=" height:300px;"></div>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <div id="invoice" style=" height:300px;"></div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- Statestics End -->

  <!-- Monthly view Start -->
  <div class="col-md-12 col-xl-7 ">
    <div class="card">
      <div class="card-header">
        <div class="card-header-left ">
          <h5>Monthly view</h5>
        </div>
      </div>
      <div class="card-block-big">
        <div id="monthly-graph" style="height:250px"></div>
        <div id="monthly-view">
          <h4 class="text-center f-w-600 f-20 m-b-20">November 2017</h4>
          <div class="row">
            <div class="col-sm-6 b-r-default">
              <h4 class="f-w-600">2,874</h4>
              <p class="text-muted f-16">New Students</p>
            </div>
            <div class="col-sm-6 text-right">
              <h4 class="f-w-600">1,628</h4>
              <p class="text-muted f-16">Graduate</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-5 ">
    <div class="card view-card">
      <div class="card-block-big">
        <button class="btn btn-default btn-icon"><i class="icofont icofont-plus m-0 f-16 f-w-600"></i></button>
        <div class="text-center m-b-40">
          <div class="chart-div">
            <input type="text" class="dial" value="70" data-width="150" data-height="150" data-thickness=".2" data-linecap="round" data-displayprevious="true" data-displayInput="true" data-fgColor="#93BE52" data-angleoffset="180">
            <div class="chart-more-icon">
              <span>5</span>
              <p>MORE</p>
            </div>
          </div>
        </div>
        <h4 class="text-center f-w-600">Recomended changes</h4>
        <p class="text-center f-w-600 text-muted m-b-40">Latest update</p>
        <div class="border-img-view p-t-40 text-center">
          <a href="javascript: "><img class="img-50" src="assets/images/avatar-3.jpg" placement="top" ngbTooltip="Anari" alt="" ></a>
          <a href="javascript: "><img class="img-50" src="assets/images/avatar-1.jpg" placement="top" ngbTooltip="Suwtz" alt="" class="m-l-10 "></a>
          <a href="javascript: "><img class="img-50" src="assets/images/avatar-3.jpg" placement="top" ngbTooltip="Joshpon Doe" alt="" class="m-l-10 "></a>
          <a href="javascript: "><img class="img-50" src="assets/images/avatar-2.jpg" placement="top" ngbTooltip="Cutzs" alt="" class="m-l-10"></a>
          <button class="btn btn-success btn-icon m-l-10"><i class="icofont icofont-plus m-0 f-16 f-w-600"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- Monthly view End -->

  <div class="col-md-12 col-xl-6">
    <div class="card">
      <div class="card-block prod-order-card">
        <h5>Product order</h5>
        <div class="row">
          <div class="col-sm-12">
            <div id="solid-gauge"></div>
          </div>
        </div>
        <ul class="list-unstyled b-t-default">
          <li>
            <div class="legend-icon">
              <span class="bg-c-blue"></span>
            </div>
            <div class="legend-cont">
              <p>23.043</p>
              <span>Finished</span>
            </div>
          </li>
          <li>
            <div class="legend-icon">
              <span class="bg-c-pink"></span>
            </div>
            <div class="legend-cont">
              <p>12.435</p>
              <span>Pending</span>
            </div>
          </li>
          <li>
            <div class="legend-icon">
              <span class="bg-c-yellow"></span>
            </div>
            <div class="legend-cont">
              <p>4.503</p>
              <span>Reject</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Customer Start -->
  <div class="col-md-12 col-xl-6">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-block profile-comp-block">
            <h5>Profile compltion</h5>
            <div class="text-center m-t-20 m-b-20 ">
              <input type="text" class="dial" value="70" data-width="150" data-height="150" data-thickness=".2" data-linecap="round" data-displayprevious="true" data-displayInput="true" data-fgColor="#4680FE" data-angleoffset="180">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card profile-view">
          <div class="card-block">
            <h5>Gap to target</h5>
            <div id="gap-target" style="height:130px;" class="p-t-20"></div>
            <div class="row">
              <div class="col-6 text-center">
                <p class="text-muted m-b-0">Target</p>
                <span class="text-c-blue" id="g-target" [innerHtml]="gTargetHTML">20.9</span>
              </div>
              <div class="col-6 text-center">
                <p class="text-muted m-b-0">Gap</p>
                <span class="text-c-pink" id="g-gap" [innerHtml]="gGap">12.6</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <app-card [title]="'Transactions'" >
          <div class="row">
            <div class="col-sm-6">
              <div class="rest-block">
                <h2>2,567</h2>
                <p class="text-muted f-w-600 f-16 m-b-30">User
                  monthly use</p>
              </div>
              <button class="btn btn-primary m-b-10">+26%</button>
            </div>
            <div class="col-sm-6">
              <div id="stacked-transactions-graph">
                5,3,4,6,3,6,2,2.5,3,1.5,1.5,4.6,5,2.5,3.5,4,3,4.8,2.5,6,5,3,5
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <!-- Customer End -->

  <!-- Revenue Map Start -->
  <div class="col-md-6 col-xl-4">
    <app-card [title]="'Tax deduction'" [cardClass]="'revenue-map'">
      <div class="row">
        <div class="col-sm-8">
          <h2>$567</h2>
          <span class="text-muted f-18 d-block">January 2017</span>
          <p class="text-muted m-b-0 p-t-40">Total tax deduction</p>
          <span class="m-l-5 f-w-600">$23,567</span>
        </div>
        <div class="col-sm-4">
          <div id="tax-deduction-graph">
            150,335,240,200,275,205,170,150
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-4">
    <app-card [title]="'Order'" [cardClass]="'revenue-map'">
      <div class="row">
        <div class="col-sm-6">
          <h2>456</h2>
          <span class="text-muted f-18 d-block">January 2017</span>
          <p class="text-muted m-b-0 p-t-40">Total order</p><span
          class="m-l-5 f-w-600">2,567</span>
        </div>
        <div class="col-sm-6 text-center m-t-10">
          <span class="order-graph">1/3</span>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-md-12 col-xl-4">
    <app-card [title]="'Revenue generate'" [cardClass]="'revenue-map'">
      <div class="row">
        <div class="col-sm-8">
          <h2>$756</h2>
          <span class="text-muted f-18 d-block">January 2017</span>
          <p class="text-muted m-b-0 p-t-40">Last weeks revenue</p>
          <span class="m-l-5 f-w-600">$56,678</span>
        </div>
        <div class="col-sm-4">
          <div id="revenue-generate-graph">
            150,335,240,200,275,205,170,150
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- Revenue Map End -->

  <!-- Monthly Chart Start -->
  <div class="col-md-12 col-xl-7">
    <app-card [title]="'Monthly earning'">
      <div class="monthly-earning">
        <div id="monthly-earning">0,15,18,10,30,35,40,50,40,40,58,60,100</div>
        <div class="monthly-data">
          <div class="row">
            <div class="col-sm-5 earn">
              <h5>Total Earned</h5>
              <h3 class="f-w-600 m-t-10">$45,634</h3>
            </div>
            <div class="col-sm-7 spent">
              <h5>Total Spent</h5>
              <h3 class="f-w-600 m-t-10">$67,452</h3>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- Monthly Chart Start -->
  <!-- Sentiment SVG Start -->
  <div class="col-md-12 col-xl-5">
    <app-card [title]="'Sentiment'" [cardClass]="'sentiment-card'" [blockClass]="'text-center'">
      <div class="row sentiment-center">
        <div class="col-sm-3">
          <h4>793</h4>
        </div>
        <div class="col-sm-5">
          <div class="happyball"></div>
        </div>
        <div class="col-sm-4">
          <h4 class="text-c-green">75%</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h6 class="text-muted m-t-10">Positive Review</h6>
        </div>
      </div>
      <div class="row sentiment-center b-t-default p-t-20 m-t-20">
        <div class="col-sm-3">
          <h4>103</h4>
        </div>
        <div class="col-sm-5">
          <div class="sadball"></div>
        </div>
        <div class="col-sm-4">
          <h4 class="text-c-pink">23%</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h6 class="text-muted m-t-10">Negative Review</h6>
        </div>
      </div>
    </app-card>
  </div>
  <!-- Sentiment SVG End -->
  <!-- map & Chart Start -->
  <div class="col-md-12 col-xl-7">
    <div class="row">
      <div class="col-sm-12">
        <app-card [title]="'Visitors map'">
          <div id="world-map-vititors" style="width:100%;height:250px;"></div>
        </app-card>
      </div>
      <div class="col-sm-12">
        <app-card [title]="'Revenue report'" [blockClass]="'p-0'">
          <div class="card-block-big revenue-report">
            <div class="row">
              <div class="col-lg-4">
                <h3 class="f-w-600">$5,763</h3>
              </div>
              <div class="col-lg-4">
                <div id="revenue-report">375,335,240,200,275,205,170,150,275,250,180,160,360,300</div>
              </div>
              <div class="col-lg-4">
                <div class="revenue-card p-b-10">
                  <span class="bg-c-blue"></span>
                  <h6 class="text-muted d-inline-block m-l-20">
                    This month</h6>
                  <h6 class="d-inline-block m-l-20 f-w-600">
                    $48,689</h6>
                </div>
                <div class="revenue-card b-t-default  p-t-10">
                  <span class="bg-c-green m-t-10"></span>
                  <h6 class="text-muted d-inline-block m-l-20">
                    This month</h6>
                  <h6 class="d-inline-block m-l-20 f-w-600">
                    $48,689</h6>
                </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xl-5">
    <div class="card bg-c-pink card-map">
      <div class="card-header">
        <div class="card-header-left">
          <h5>Strongest location</h5>
        </div>
      </div>
      <div class="card-block">
        <h2 class="d-inline-block">New York <i
          class="icofont icofont-social-google-map f-35"></i></h2>
        <h6>Store #45</h6>
      </div>
      <div id="world-map-markers" style="width:100%;height:500px;"></div>
    </div>
  </div>
  <!-- map & Chart End -->

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <!-- Rest & Transactions Start -->
        <app-card [title]="'Rest Of the traffic'" [cardClass]="'prod-order-card'">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-12">
                  <div id="solid-gauge1" style="height: 160px;"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <h3>57.23 GB</h3>
              <div class="rest-block p-t-50">
                <p class="text-muted m-b-5 f-16 f-w-600">Spent</p>
                <span class="text-muted f-16 f-w-600">37,458 MB</span>
              </div>
            </div>
          </div>
        </app-card>
        <!-- Rest & Transactions End -->
      </div>
      <div class="col-md-12">
        <!-- Add Task Start -->
        <div class="card">
          <div class="card-header">
            <div class="card-header-left">
              <h5>Sales prediction</h5>
            </div>
            <div class="card-header-right">
              <i class="icofont icofont-spinner-alt-5"></i>
            </div>
          </div>
          <div class="card-block sales-prediction">
            <div class="row">
              <div class="col-md-4">
                <h2>$3,489</h2>
                <p class="text-muted f-w-600">28% Increased</p>
              </div>
              <div class="col-md-8">
                <div id="sale-prediction" class="w-100" style="height:250px;width:235px"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Add Task End -->
      </div>
    </div>

  </div>

  <!-- Project overview Start -->
  <div class="col-md-12 col-xl-6 ">
    <app-card [title]="'Project overview'" [cardClass]="'card-overview'">
      <div class="m-b-50">
        <div class="row justify-content-md-center">
          <div class="col-sm-12">
            <div id="project-overview-chart" class="project-overview-chart" style="height:200px;"></div>
          </div>
        </div>
      </div>
      <div class="p-t-20 p-b-20 ">
        <div class="row ">
          <div class="col-sm-6 ">
            <span class="bg-c-blue "></span>
            <h6 class="m-l-30 f-w-600 m-b-5 ">23.89%</h6>
            <p class="text-muted m-l-30 m-b-0 ">ProjectProcessed</p>
          </div>
          <div class="col-sm-6 ">
            <div id="project-over-sub-1">3,5,5,10,6,4,8,10,6,15,10,6,4,8,10,6,5,6,5,8,2</div>
          </div>
        </div>
      </div>
      <div class="b-t-default p-t-20 p-b-20 ">
        <div class="row ">
          <div class="col-sm-6 ">
            <span class="bg-c-pink "></span>
            <h6 class="m-l-30 f-w-600 m-b-5 ">17.78%</h6>
            <p class="text-muted m-l-30 m-b-0 ">Project Returned</p>
          </div>
          <div class="col-sm-6 ">
            <div id="project-over-sub-2">5,8,10,6,4,8,10,6,3,5,8,2,10,6,4,8,10,6,5,6,3,5</div>
          </div>
        </div>
      </div>
      <div class="b-t-default p-t-20 p-b-20 ">
        <div class="row ">
          <div class="col-sm-6 ">
            <span class="bg-c-yellow "></span>
            <h6 class="m-l-30 f-w-600 m-b-5 ">10.56%</h6>
            <p class="text-muted m-l-30 m-b-0 ">Project Sold</p>
          </div>
          <div class="col-sm-6 ">
            <div id="project-over-sub-3">5,10,6,4,8,10,6,5,6,3,5,5,10,6,4,8,10,6,3,5,8,2</div>
          </div>
        </div>
      </div>
    </app-card>
  </div>
  <!-- Project overview End -->
</div>
