<div class="col-md-12 col-xl-4">
  <div class="card user-card">
    <div class="card-header-img">
      <img
        class="img-fluid img-radius"
        src="assets/images/user-card/img-round4.jpg"
        alt="card-img"
      />
      <h4>Yosra Mahjoub</h4>
    </div>
    <h5>-Ingenieur Informatique,</h5>
    <h5>-Cin: 14020502,</h5>
    <h5>-Phone: 25046935,</h5>

    <h5>-Email: YosraMahjoub1925@gmail.com,</h5>
    <h5>-Adresse: Monastir,Bannen 5025,</h5>
    <h5>-Nombre Examen code: 1</h5>
    <h5>-Nombre Examen conduit: 0</h5>
    <h5>-Remarque: 1 ére inscription</h5>

    <div>
      <button
        type="button"
        class="btn btn-primary waves-effect waves-light m-r-15"
      >
        <i class="icofont icofont-plus m-r-5"></i>Follow
      </button>
      <button type="button" class="btn btn-success waves-effect waves-light">
        <i class="icofont icofont-user m-r-5"></i>Profile
      </button>
    </div>
  </div>
</div>
