<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <div class="row" id="table-hover-row">
      <div class="col-12">
        <div class="card p-4">
          <h1>List of Categories</h1>

          <hr />

          <div class="card">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-link">Home</button>
              <button class="btn btn-link text-muted px-0">/</button>
              <button class="btn btn-link">Accessories</button>
              <button class="btn btn-link text-muted px-0">/</button>
              <button class="btn btn-link">I</button>
            </div>
          </div>

          <div class="card">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-link">Home</button>
              <button class="btn btn-link text-muted px-0">/</button>
              <button class="btn btn-link">Accessories</button>
              <button class="btn btn-link text-muted px-0">/</button>
              <button class="btn btn-link">Love</button>
            </div>
          </div>

          <div class="card">
            <div class="btn-group" role="group" aria-label="Basic example">
              <button class="btn btn-link">Home</button>
              <button class="btn btn-link text-muted px-0">/</button>
              <button class="btn btn-link">Accessories</button>
              <button class="btn btn-link text-muted px-0">/</button>
              <button class="btn btn-link">U</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
