
<div class="col-md-6 col-xl-12">
  <app-card [title]="'Categories List'" [cardClass]="'recent-candidate-card'" [blockClass]="'p-t-0 p-b-0'">
 

   <div class="table-responsive">
     <table class="table table-hover">
       <thead>
       <tr>
         <th>#</th>
         <th>Title</th>
         <th>Description</th>
         <th>Action</th>
       </tr>
       </thead>
       <tbody>
       <tr>
         <td>
           <div class="recent-contain">
             <h6>1</h6>
           </div>
         </td>
         <td>
           <i class=" text-c-blue f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600">category1</p>
         </td>
         <td>
           <i class=" text-c-green f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600"> ......</p>
         </td>
        
         <td>
           <a href="javascript:" data-toggle="tooltip" title="Edit" routerLink="/categories/edit/1">
             <i class="icofont icofont-ui-edit text-c-blue f-16"></i>
           </a>
           <a href="javascript:" data-toggle="tooltip" title="Remove"><i class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"></i></a>
         </td>
       </tr>
  
       <tr>
         <td>
           <div class="recent-contain">
             <h6>2</h6>
           </div>
         </td>
         <td>
           <i class=" text-c-blue f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600">category2</p>
         </td>
         <td>
           <i class=" text-c-green f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600"> ......</p>
         </td>
        
         <td>
           <a href="javascript:" data-toggle="tooltip" title="Edit"  routerLink="/categories/edit/2" ><i class="icofont icofont-ui-edit text-c-blue f-16"></i></a>
           <a href="javascript:" data-toggle="tooltip" title="Remove"><i class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"></i></a>
         </td>
       </tr>
       <tr>
         <td>
           <div class="recent-contain">
             <h6>3</h6>
           </div>
         </td>
         <td>
           <i class=" text-c-blue f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600">category3</p>
         </td>
         <td>
           <i class=" text-c-green f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600"> ......</p>
         </td>
        
         <td>
           <a href="javascript:" data-toggle="tooltip" title="Edit" routerLink="/categories/edit/3"><i class="icofont icofont-ui-edit text-c-blue f-16"></i></a>
           <a href="javascript:" data-toggle="tooltip" title="Remove"><i class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"></i></a>
         </td>
       </tr>
       <tr>
         <td>
           <div class="recent-contain">
             <h6>4</h6>
           </div>
         </td>
         <td>
           <i class=" text-c-blue f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600">category4</p>
         </td>
         <td>
           <i class=" text-c-green f-16"></i>
           <p class="m-l-10 d-inline-block f-w-600"> ......</p>
         </td>
        
         <td>
           <a  href="javascript:" data-toggle="tooltip" title="Edit" routerLink="/categories/edit/4"><i class="icofont icofont-ui-edit text-c-blue f-16"></i></a>
           <a href="javascript:" data-toggle="tooltip" title="Remove"><i class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"></i></a>
         </td>
       </tr>
       </tbody>
     </table>
   </div>
 </app-card>
</div>