


<div class="card feed-card">  
 
  <div class="card-block p-t-0 p-b-0">
    <div class="row">
    
      <div class="col-2 bg-c-blue border-feed">
        <i class="icofont icofont-users-alt-4 f-50"></i>
      </div>
      <div class="col-8">
        <div class="p-t-30 p-b-30">
          <form>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">UserName</label>
                        <input type="text" class="form-control" placeholder="Enter UserName">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="exampleInputEmail1">FullName</label>
                        <input type="text" class="form-control" placeholder="Enter FullName">
                    </div>
                </div>
            </div>
            <div class="row"> 
               <div class="col">
                  <div class="form-group">
                      <label for="exampleInputCin">Num cin</label>
                      <input type="number" class="form-control" placeholder="Enter Cin">
                  </div>
              </div>
              <div class="col">
                <div class="form-group">
                    <label for="exampleInputPhone">Phone number</label>
                    <input type="number" class="form-control" placeholder="Enter phone number">
                </div>
            </div>
              <div class="col">
                 <form action="/">
                  
                   <label for="exampleInputPhone"> Date of Birth </label>
  
                     <input type="date" class="form-control">
                 </form>
              </div>
            
          </div>
  
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity">
                    </div>
                 
                </div>
                <div class="col">              
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
      
            </div>
            
            
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
     <hr> 
            <div class="row"> 
              <div class="col">
                 <div class="form-group">
                     <label for="exampleInputnumber">Number of meetings</label>
                     <input type="number" class="form-control" placeholder="Enter Number of meetings">
                 </div>
             </div>
             <div class="col">
               <div class="form-group">
                   <label for="exampleInputPhone">Phone number</label>
                   <input type="number" class="form-control" placeholder="Enter phone number">
               </div>
           </div>
             <div class="col">
                <form action="/">
                 
                  <label for="exampleInputPhone"> Date of Birth </label>
  
                    <input type="date" class="form-control">
                </form>
             </div>
           
         </div>
  
  
  
  
  
  
  
  
            
         
            <div class="text-center">
                <button type="submit" class="btn my-color" >Add</button>
            </div>
        </form>

        </div>
      </div>
    </div>
  </div>
</div>







