<div class="col-md-6 col-xl-12">
  <app-card
    [title]="'Employe List'"
    [cardClass]="'recent-candidate-card'"
    [blockClass]="'p-t-0 p-b-0'"
  >
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Photo</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Addresse</th>
            <th>Pays</th>
            <th>Num cin</th>
            <th>Num Portable</th>
            <th>Emploi</th>
            <th>Email</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td (click)="openMyModal('effect-13')">1</td>
            <td>
              <a href="javascript:"
                ><img
                  class="image-radius img-50"
                  src="assets/images/avatar-4.jpg"
                  alt=""
              /></a>
            </td>

            <td (click)="openMyModal('effect-13')">
              <p class="m-l-10 d-inline-block f-w-600">yosra</p>
            </td>

            <td (click)="openMyModal('effect-13')">
              <p class="f-w-600">mahjoub</p>
            </td>
            <td (click)="openMyModal('effect-13')">
              <p class="m-l-10 d-inline-block f-w-600">Monastir</p>
            </td>
            <td (click)="openMyModal('effect-13')">
              <p class="m-l-10 d-inline-block f-w-600">Tunisie</p>
            </td>
            <td (click)="openMyModal('effect-13')">
              <p class="f-w-600">14020502</p>
            </td>
            <td (click)="openMyModal('effect-13')">
              <p class="m-l-10 d-inline-block f-w-600">25046935</p>
            </td>
            <td (click)="openMyModal('effect-13')">
              <p class="m-l-10 d-inline-block f-w-600">Moniteur</p>
            </td>

            <td>
              <p class="m-l-10 d-inline-block f-w-600">
                yosramahjoub1925@gmail.com
              </p>
            </td>

            <td>
              <a
                href="javascript:"
                data-toggle="tooltip"
                title="Edit"
                routerLink="/employe/edit/1"
                ><i class="icofont icofont-ui-edit text-c-blue f-16"></i>
              </a>
              <a href="javascript:" data-toggle="tooltip" title="Remove"
                ><i
                  class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"
                ></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <a href="javascript:"
                ><img
                  class="image-radius img-50"
                  src="assets/images/avatar-4.jpg"
                  alt=""
              /></a>
            </td>

            <td>
              <p class="m-l-10 d-inline-block f-w-600">yosra</p>
            </td>

            <td>
              <p class="f-w-600">mahjoub</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Monastir</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Tunisie</p>
            </td>
            <td>
              <p class="f-w-600">14020502</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">25046935</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Moniteur</p>
            </td>

            <td>
              <p class="m-l-10 d-inline-block f-w-600">
                yosramahjoub1925@gmail.com
              </p>
            </td>

            <td>
              <a
                href="javascript:"
                data-toggle="tooltip"
                title="Edit"
                routerLink="/employe/edit/1"
                ><i class="icofont icofont-ui-edit text-c-blue f-16"></i>
              </a>
              <a href="javascript:" data-toggle="tooltip" title="Remove"
                ><i
                  class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"
                ></i
              ></a>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <a href="javascript:"
                ><img
                  class="image-radius img-50"
                  src="assets/images/avatar-4.jpg"
                  alt=""
              /></a>
            </td>

            <td>
              <p class="m-l-10 d-inline-block f-w-600">yosra</p>
            </td>

            <td>
              <p class="f-w-600">mahjoub</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Monastir</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Tunisie</p>
            </td>
            <td>
              <p class="f-w-600">14020502</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">25046935</p>
            </td>
            <td>
              <p class="m-l-10 d-inline-block f-w-600">Moniteur</p>
            </td>

            <td>
              <p class="m-l-10 d-inline-block f-w-600">
                yosramahjoub1925@gmail.com
              </p>
            </td>

            <td>
              <a
                href="javascript:"
                data-toggle="tooltip"
                title="Edit"
                routerLink="/employe/edit/1"
                ><i class="icofont icofont-ui-edit text-c-blue f-16"></i>
              </a>
              <a href="javascript:" data-toggle="tooltip" title="Remove"
                ><i
                  class="icofont icofont-ui-delete text-c-pink f-16 m-l-10"
                ></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>

<app-modal-animation [modalID]="'effect-13'" [modalClass]="'md-effect-13'">
  <h3>User Details</h3>
  <div>
    <div class="text-center">
      <img
        src="/assets/images/avatar-4.jpg"
        alt="err"
        style="width: 160px; height: 160px"
      />
    </div>

    <hr />

    <ul style="overflow: scroll; height: 250px" class="disable-scroll">
      <li><strong>Nom : </strong>admin</li>
      <li><strong>Prenom : </strong>Test 1xqs</li>
      <li><strong>Adresse : </strong>Monastir</li>
      <li><strong> Pays : </strong>Tunisie</li>
      <li><strong>Cin: </strong>14020502</li>
      <li><strong>Num téléphone : </strong>25046935</li>
      <li><strong>Emploi: </strong>Ingenieur</li>
      <li><strong>Email: </strong>test1@gmail.com</li>
    </ul>
    <hr />

    <button (click)="closeMyModal($event)" class="btn btn-primary md-close">
      Close Me!!
    </button>
  </div>
  <button
    (click)="closeMyModal($event)"
    aria-label="Close"
    class="md-close-btn"
  >
    <i class="icofont icofont-ui-close"></i>
  </button>
</app-modal-animation>
